/* Foundation v2.1.3 http://foundation.zurb.com */
/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Table of Contents
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

#main-nav {
  background: #222;
  padding: 15px 20px;
  border-bottom: 4px solid #00A6FC;
}

  #main-nav h1 {
    font-size: 16px;
    margin-bottom: 0;
  }

    #main-nav h1 a { color: #fff; }

  #main-nav ul { margin-bottom: 0; }

    #main-nav li {
      float: left;
      margin: 0 20px 0 0;
    }

      #main-nav li:last-child { margin-right: 0; }

      #main-nav li a {
        display: block;
        line-height: 14px;
        color: #fff;
        font-weight: 500;
      }


.section-header {
  margin: 0 0 40px 0;
  padding: 30px 0 0 0;
  border-bottom: solid 1px #ccc;
}

  .section-header h1 {
    margin-bottom: 0;
    padding: 0;
  }

    .section-header .subheader {
      margin-bottom: 9px;
      color: #777;
      font-weight: 300;
    }

.button span.small {
  display: block;
  font-size: 12px;
  margin-top: 4px;
  font-weight: 300;
}

/* -----------------------------------------
   Table of Contents
----------------------------------------- */

.contents {
  
}

  .contents li.item {
    border-bottom: 1px solid #DDD;
  }

  .contents li.item:last-child { border-bottom: none; }

  .contents h5 {
    color: #b1b1b1;
    margin-bottom: 4px;
  }

  .contents h6  {
    margin-bottom: 14px;
  }

/* -----------------------------------------
   Responsive Embedded Videos
----------------------------------------- */

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  margin-bottom: 25px;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.row figure {
  width: 37.5%;
  float: right;
  padding: 4px;
  margin: 0 0 .5em 1em;
  border: 1px solid #DDD;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  border-image: initial;
}

  .row figure.skinny { width: 34.5%; }

  .row figure img {
    display: block;
  }

/* -----------------------------------------
   Media Queries
----------------------------------------- */

@media only screen and (max-width: 860px) {
  .nice.tabs.vertical dd a { font-size: 12px; }
}

@media only screen and (max-width: 425px) {
  .row figure {
    width: 97%;
  }
}
